{% extends 'navigation.html' %}
{% load static %}
{% block a %}
<div style="color:Black;border:1px solid white;border-radius:8px;background-color:white;padding:50px">
    <div>
<h3><strong>About Project:</strong></h3><hr>
    <table>
        <td style="font-size: 20px;"><p>This is a simple railway management system project developed by <b>Chime</b>, <b>Karthik reddy</b>, <b>Prasanth reddy</b>, <b>Mangala</b> and <b>Shiva</b>
            using HTML, CSS, Javascript as <b>frontend</b> and Python, Sqlite as <b>backend</b>.</p></td>
        <td><img src="{% static 'images\trainabt.jpg' %}" style="height:200px;width:350px;margin-left:40px;margin-top:14px"></td>
    </table>
        <br><br><br><br><br><br><br><br>
</div>

</div>

{% endblock %}
